#clockcontainer{
    position:relative;
    margin: auto;
    /* width: 40vw;
    height: 40vw; */
    width: 400px;
    height: 400px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.7%;
    height: 33%;
    top: 17%;
    left: 49.1%;
    /* display:none; */
}

#minute{
    width: 1.2%;
    height: 37%;
    top: 13%;
    left: 49.6%;
}
#second{
    width: 1%;
    height: 45%;
    top: 5%;
    left: 49.7%;
    opacity: 0.8;
}
.dot{
    border: 1px solid black;
    border-radius: 50%;
    height: 3%;
    width: 7%;
    background-color: black;
    padding-bottom: 4%;
    position: absolute;
    left: 46.37%;
    top: 45.5%;
}